@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$light: #fff;
$dark: #000;
$media: #222;
$media-b: #ededed;
$icon-color: #f0f8ffce;
$linear-color: #522e92;
$btn1: #30b235;
$sub-menu: #007bff;
$sb-item: #505056;
$font-stack: 'Roboto', sans-serif;